<div id="action-frame" class="container-fluid panel-border action-frame" style="background-color:#ffffff;height:100%">
  <div class="row header-area">
    <div>
      <div class="col-sm-4 col-sm-offset-1">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
            60%
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-link pull-right" style="font-size:16px;font-weight:bold;color:#333333">Skip</button>
    </div>
  </div>
  <div class="row" id="action-area" ng-include="actionTemplate">
  </div>
  <div class="row footer-area">
    <button type="button" class="btn btn-success pull-right action-button">Next</button>
  </div>
</div>
<!--<script>
  $('.pull-down').each(function() {
    $(this).css('margin-top', $(this).parent().height()-$(this).height())
});
</script>-->
