<section id="action-frame" class="container-fluid panel-border action-frame" style="background-color:#ffffff">
  <header class="row header-area">
    <div class="col-sm-12">
      <div class="col-sm-4 col-sm-offset-1">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
            60%
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-link pull-right" style="font-size:16px;font-weight:bold;color:#333333" translate ng-if="!isLastStep" ng-click="skip()">Skip</button>
    </div>
  </header>
  <div class="row action-area" id="action-area" ng-include="actionTemplate">
  </div>
  <footer class="row footer-area">

    <button type="button" class="btn btn-success pull-right action-button" ng-click="next()" ng-if="!isLastStep" translate>Next</button>
    <button type="button" class="btn btn-success pull-right action-button" ng-click="finish()" ng-if="isLastStep" translate>Finish</button>
  </footer>
</section>
<!--<script>
  $('.pull-down').each(function() {
    $(this).css('margin-top', $(this).parent().height()-$(this).height())
});
</script>-->
