<div class="navbar navbar-default navbar-fixed-top">
    <div class="container header-bar">
        <div class="navbar-header"  >

            <a class="navbar-brand" href="">
                <img src="../images/studigo-logo.png" alt="" class="img-logo"/>
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" >
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse navbar-right scroll-me" >
            <ul class="nav navbar-nav ">
                <li><a href="">HOME</a></li>
                <li><a href="#login-dialog" data-toggle="popover-x"  data-placement="bottom" >LOGIN</a></li>

            </ul>
        </div>

    </div>

</div>

<div ng-include="'views/login-dialog.html'"></div>
