  <form class="form-horizontal" role="form">
      <div id="login-dialog" class="popover popover-success">
        <div class="arrow"></div>
        <div class="popover-title"><span class="close" data-dismiss="popover-x">&times;</span>Login</div>
        <div class="popover-content">




            <div class="form-group">
              <label class="control-label col-sm-3 " for="username">Username:</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="username" placeholder="Enter User name">
              </div>
            </div>
            <div class="form-group margin-bottom">
              <label class="control-label col-sm-3 " for="pwd">Password:</label>
              <div class="col-sm-9">
                <input type="password" class="form-control" id="pwd" placeholder="Enter password">
              </div>
            </div>
            <div class="form-group margin-bottom">
              <div class="col-sm-12">
                <button type="submit" class="btn btn-success btn-block">Login</button>
              </div>
              <div class="col-sm-12">
                <button type="submit" class="btn btn-primary btn-link pull-right">Forgot password?</button>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <button type="button" class="btn btn-warning btn-block">Create a Profile</button>
              </div>

            </div>
        </div>

      </div>
    </form>
