<div  class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <script type="text/ng-template" id="login-dialog.html">
    <div class="modal-content login-dialog">
      <div class="modal-header">

        <h4 class="modal-title" translate>Login</h4>
      </div>
      <div class="modal-body">
        <form name="loginForm" class="form-horizontal" novalidate ng-submit="login(loginForm)">

          <div class="form-group" ng-class="{ 'has-error': loginForm.username.$touched &&  loginForm.username.$invalid }">
            <label class="control-label col-sm-5 " for="username" translate>Username:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="username" name="username" ng-model="username" required placeholder="{{'Enter User name'|translate}}">
              <div class="help-block" ng-messages="loginForm.username.$error" ng-if="loginForm.username.$touched &&  loginForm.username.$invalid ">
                <p ng-message="required" translate >Username is required.</p>
              </div>
            </div>


          </div>
          <div class="form-group margin-bottom" ng-class="{ 'has-error': loginForm.password.$touched && loginForm.password.$invalid }">
            <label class="control-label col-sm-5 " for="pwd" translate>Password:</label>
            <div class="col-sm-7">
              <input type="password" class="form-control" id="password" name="password" ng-model="password" required placeholder="{{'Enter password'|translate}}">
              <div class="help-block" ng-messages="loginForm.password.$error" ng-if="loginForm.password.$touched &&  loginForm.password.$invalid">
                <p ng-message="required" translate >Password is required.</p>
              </div>
            </div>

          </div>
          <div class="form-group margin-bottom">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-success btn-block" translate ng-disabled="loginForm.$invalid">Login</button>
              <div ng-hide="{{isValid}}">
                Username and password is incorrect.
              </div>
            </div>
            <div class="col-sm-12">
              <button type="button" class="btn btn-primary btn-link pull-right" translate>Forgot password?</button>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <button type="button" class="btn btn-warning btn-block" translate>Create a Profile</button>
            </div>

          </div>
        </form>
      </div>
    </div>
    </script>
  </div>
</div>
