<div id="home">
    <div class="overlay">
        <!-- overylay class usage -->
        <div class="container content">
            <div class="col-md-7">
                <img src="img/top-member.png" class="img-responsive"/>
            </div>
            <div class="col-md-4 welcome-text" >
              <p>
                <div class="row">We inspire your English learning Anywhere, Anytime for Free</div>
              </p>
              <br/>
              <p>
                <div class="row" style="text-align:center;display:  inline-block;">  <img src="img/btn-join.png" class="img-responsive"/></div>
              </p>
              <div class="row" style="text-align:center;font-size:30px">Sign up with <a href="#"><img src="img/logo-facebook.png"/></a> or <a href="#"><img src="img/logo-google-plus.png"/></a></div>
            </div>
        </div>
    </div>

</div>
