<div id="home" ng-controller="WelcomePageCtrl">
    <div class="overlay">
        <!-- overylay class usage -->
        <div class="container content">
            <div class="col-md-7">
                <img src="../images/top-member.png" style="width:80%" class="img-responsive"/>
            </div>
            <div class="col-md-4 welcome-text" >
              <p>
                <div class="row" translate>We inspire your English learning Anywhere, Anytime for Free</div>
              </p>
              <br/>
              <p>
                <button type="button" class="btn btn-block" ng-click="doStartTour()" translate>Start Tour</button>
              </p>
              <div class="row" style="text-align:center;font-size:30px">{{'Sign up with'|translate}} <a href="#"><img src="../images/logo-facebook.png"/></a> {{'or'|translate}} <a href="#"><img src="../images/logo-google-plus.png"/></a></div>
            </div>
        </div>
    </div>

</div>
