<div class="container-fluid step-6" >
  <p>
    {{question.question_content}}
  </p>
  <div style="padding-left:20px">
    <div class="row" ng-repeat="choice in question.choiceList">
      <div class="circle">
        {{$index+1}}
      </div>
      <div>
        {{choice}}
      </div>
    </div>
    <div class="row align-bottom" onclick="readAgain()" style="font-size:24px;font-color:inherit" onmouseover="this.style.font-color='gray';" onmouseout="this.style.font-color='inherit';">
      <img src="images\repeat.png" width="24px" height="24px"/>Read again
    </div>
  </div>
</div>
