<script src="scripts/common/annyang.min.js"></script>
<script type="text/javascript">
  $(document).ready( function() {
  $('#player').click(function(){
    var audio = document.getElementById("audio");
    audio.play();
  });
  });
</script>
<div class="container-fluid" >
  <div class="row">
    <div class="col-sm-7">

      <p class="word" ng-bind-html="question.word_content">

      </p>
      <p class="word-control-icon">
        <a href=""><img id="player" src="images/icons/play.png" ></a>


        <a href=""><img id="recorder" src="images/icons/recorder.png" onclick="startRecord()"></a>


        <a href=""><img src="images/icons/play.png"></a>
      </p>
      <audio id="audio" ng-src="{{question.word_audio}}" ></audio>

    </div>
    <div class="col-sm-3">
      <img src="{{question.word_picture}}" class="img-responsive col-xs-12">
    </div>
  </div>
  </div>
</div>

<script type="text/javascript">
  var labels = ["Download Sales", "In-Store Sales", "Mail-Order Sales"];
  var data = [300, 500, 100];
  function startRecord(){
    if(annyang)
    {
      alert("Annyang is already");
      // Let's define our first command. First the text we expect, and then the function it should call
      var commands = {
        '*term': function(term) {
          console.log(term);
          if(term==='show')
          {
            visibleSuccessResult();
            annyang.stop();
          }
          else
          {
            
            visibleFailedResult();
          }
        }
      };

      // Add our commands to annyang
      annyang.addCommands(commands);
      annyang.debug();
      // Start listening. You can call this here, or attach this call to an event, button, etc.
      annyang.setLanguage('en');
      annyang.start();
      //$('#recorder').attr("src","images/icons/waiting.png");
    }
  }
 </script>
