.word
{

}
.word-description
{

}
.word-control-icon img{
  width: 48px;
  height: 48px;

}
.record-lesson .wave
{
  height: 85px;
}
.record-lesson .control-icon img{
  width: 48px;
  height: 48px;

}
.conversion-lesion .control-icon img{
  width: 48px;
  height: 48x;

}
.conversion-lesion .message-icon
{
  width: 16px;
/*  background-image: url("../images/icons/message.png");*/
}

.conversion-lesion .icon img
{
  width: 20px;
/*  background-image: url("../images/icons/user.png");*/
}
.step-5 img{
  width: 48px;
}
.step-5 .data-input
{
  height:150px;
  -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
   -o-box-sizing: border-box;
      box-sizing: border-box;

}
.step-5 .btn
{
  margin-top: 5px;
}
