
/*=============================================================
    Authour URL: www.designbootstrap.com

    http://www.designbootstrap.com/

    License: MIT

    http://opensource.org/licenses/MIT

    100% Free To use For Personal And Commercial Use.

    IN EXCHANGE JUST TELL PEOPLE ABOUT THIS WEBSITE

========================================================  */



/*================================
    GENERAL STYLES
==================================*/

@import url(http://fonts.googleapis.com/css?family=Roboto); /* GOOGLE FREE FONTS */

body {
    font-family: 'Roboto', sans-serif;
}

section {
    padding-top: 80px;
    padding-bottom: 120px;
}

.head-set {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pad-bottom {
    padding-bottom: 60px;
}
.top-header
{
  vertical-align: middle;
}
/*================================
    NAVBAR STYLES
==================================*/
@media screen and (max-width:480px)
{
  .header-bar
  {
    min-height: 50px !important;
  }
  .img-logo
  {
    margin:8px 0 0 10px !important;
    height: 60%;
    width:60%;
  }

}

.header-bar
{
  min-height: 80px;
}
.img-logo
{
  margin:10px 0 0 25px;
}


.container
{
  min-width: 300px !important;
}
.navbar-default {
    background-color: rgb(64, 130, 97);
    border: none;
    color: #fff;

}

    .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover {
        color: #fff;
    }

.navbar-brand {
    padding: 0px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color:#fff;
}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus
{
	 background-color: rgb(64, 140, 97);
}
/*================================
    HOME SECTION STYLES
==================================*/

/*STYLE OF BACKGROUND IMAGE*/
#welcome-page{
	 background: url(../images/home.png) no-repeat center center; /*Full Witdth background image*/
	  padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    min-height: 600px;
}
#home {

    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    min-height: 600px;
}
    /*STYLE FOR OVERLAY CLASS - WHICH IS ABOVE IMAGE WITH OPACITY/TRANSPARENCY 0.75*/
    #home .overlay {
        padding-top: 90px;
        /*background-color: rgba(64, 130, 97,0.75); /*.75 opacity of the color so that background image is visible*/
        min-height: 600px;
        color: #fff;
    }

    #home h1 {
        padding-top: 80px;
        font-weight: 900;
        font-size: 100px;
        font-family: 'Browallia New';
    }
.welcome-text
{
  text-align: center;
  font-weight: 900;
  font-size: 60px;
  font-family: 'Browallia New';
  line-height: 1em
}

.content
{
  padding-top: 30px;
}
/*SMPLE CLASS TO ADJUST SECTION PADDING & HEIGHT*/

/*CLASS TO FORMAT TEXT*/
.p-cls {
    padding-top: 30px;
    padding-bottom: 40px;
}

/*======================================
    PARALLAX LIKE / STATS SECTION STYLES
=========================================*/

.parallax-like {
    background: url(../images/stats.jpg) no-repeat center center; /* DEFINE IMAGE PATH CAREFULLY*/
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

    .parallax-like .overlay {
        min-height: 200px;
        background: rgba(35, 133, 161,0.9);
        font-size: 40px;
        padding-bottom: 60px;
        padding-top: 60px;
    }

/*================================
    PORTFOLIO / WORK SECTION STYLES
==================================*/
.portfolio-item img:hover { /* POSTFOLIO IMAGE BIG ON HOVER */
    cursor: pointer;
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    z-index: 1;
}

/*================================
    VIDEO SECTION STYLES
==================================*/
#video-sec {
    color: #fff;
    text-align: center;
}

    #video-sec .overlay {
        background-color: rgba(0, 0, 0, 0.85);
        min-height: 300px;
        color: #fff;
    }

    #video-sec h1 {
        padding-top: 80px;
        font-size: 50px;
        font-weight: 900;
        padding-bottom: 30px;
    }
/*================================
    CLIENTS SECTION STYLES
==================================*/
#clients {
    background-color:#f4f4f4;
    padding-bottom:50px;
    padding-top:50px;
}
    #clients img {
        opacity:0.5;
        cursor:pointer;
    }
        #clients img:hover {
            opacity:1;
        }
/*================================
    FOOTER SECTION STYLES
==================================*/

footer {
    padding: 20px;
    font-size: 15px;
    text-align: center;
    font-weight: 900;
    background-color: rgb(64, 130, 97);
    color: #fff;
}

footer a, footer a:hover {
    color: #fff;
    text-decoration: none;
}
.login-dialog .modal{
  position: absolute;
}
.login-dialog .modal-dialog
{
  max-width: 320px;
}
.login-dialog .margin-bottom
{
  margin-bottom:30px;
}
.login-dialog .margin-top
{
  margin-top:25px;
}
