<div class="container-fluid action-area conversion-lesion">
  <div class="col-sm-9">
    <div class="panel panel-primary">
      <div class="panel-body" style="height:300px;overflow-y: scroll">
         <table class="table table-striped">
           <tbody>
             <tr>
               <td class="message-icon">
                 <img src="images/icons/message.png"   width="24px"/>
               </td>
               <td>
               </td>
             </tr>
             <tr>
               <td class="user-icon">
               </td>
               <td>
               </td>
             </tr>
           </tbody>
         </table>
      </div>
    </div>
  </div>
  <div class="col-sm-3 control-icon">
    <div style="min-height:50%;vertical-align:middle">
      CHART IN HERE
    </div>
    <div height="50%" style="vertical-align:middle">
      <a href=""><img src="images/icons/play.png" ></a>
      <a href=""><img src="images/icons/recorder.png"></a>
    </div>

  </div>
</div>
