<div class="container-fluid step-5" >
  <div class="row">
    <div class="col-sm-2" >
      <a href=""><img src="images/icons/speak.png"></a>
      <a href=""><img src="images/icons/snails.png"></a>
    </div>
    <div class="col-sm-10">
      Please Listen and Write down
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2" >

    </div>
    <div class="col-sm-10">
      <div class="row" >
        <textarea class="col-sm-12 data-input"></textarea>
      </div>
      <div class="row">
        <button class="btn btn-info">my Christmas</button>
        <button class="btn btn-info">to go shopping</button>
        <button class="btn btn-info">finished</button>
        <button class="btn btn-info">with me</button>
        <button class="btn btn-info">this weekend?</button>
        <button class="btn btn-info">Well, I still haven't</button>

      </div>
    </div>
  </div>
</div>
