<div class="container-fluid step-6" >
  <h4 style="padding-left:20px">Please Read and Answer Questions</h4>
  <div class="panel panel-primary">

    <div class="panel-body" style="height:250px;overflow-y: scroll">
      <div>
        <p>
          An Memo
        </p>
        <p>
          To: Supervisors
          <br/>
          From: Judy Linquiest, Human Resource Manager
          <br/>
          Sub: Probation periods
        </p>
        <p>
          As of January 1st all new employees will be subject to a 3 month probationary period. Medical, holiday, and flextime benefits will not apply to new staff members until the full 3 months have expired.
        </p>
        <p>
          After the three months have been completed, please contact your employees and inform them that their probationary period has ended. The HR department will contact you by email 2 days in advance to remind you of the date.
        </p>
        <p>
          Thank you for your cooperation.
        </p>
      </div>
      <div>
        <p style="font-style:italic;font-weight:bold;text-decoration: underline">
          Words
        </p>
        <div style="padding-left:20px">
          <p>
            memo /ˈmeməʊ/ (n) (formal memorandum) memo (to somebody) an official note from one person to another in the same organization
          </p>
          <p>
            probation /prəˈbeɪʃn/ (n) a time of training and testing when starting a new job; probationary BrE /prəˈbeɪʃnri/ NAmE /proʊˈbeɪʃəneri/ (Adj)
          </p>
          <p>
            expire /ɪkˈspaɪə(r)/ (v) to be no longer valid because the period of time for which it could be used has ended
          </p>
          <p>
            cooperation /kəʊˌɒpəˈreɪʃn/ (n) the fact of doing something together or of working together towards a shared aim
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
