<div class="container-fluid conversion-lesion">
  <div class="col-sm-9">
    <div class="panel panel-primary">
      <div class="panel-body" style="height:300px;overflow-y: scroll">
         <table class="table table-striped">
           <tbody>
             <tr>
               <td class="icon">
                 <img src="images/icons/message.png"/>
               </td>
               <td>Hello
               </td>
             </tr>
             <tr>
               <td class="icon">
                 <img src="images/icons/user.png"/>
               </td>
               <td>Hi
               </td>
             </tr>
             <tr>
               <td class="icon">
                 <img src="images/icons/message.png"/>
               </td>
               <td>How are you?
               </td>
             </tr>
             <tr>
               <td class="icon">
                 <img src="images/icons/user.png"/>
               </td>
               <td>I'm good. How are you?
               </td>
             </tr>
             <tr>
               <td class="icon">
                 <img src="images/icons/message.png"/>
               </td>
               <td>Good. Do you speak English?
               </td>
             </tr>
             <tr>
               <td class="icon">
                 <img src="images/icons/user.png"/>
               </td>
               <td>A little. Are you American?
               </td>
             </tr>
           </tbody>
         </table>
      </div>
    </div>
  </div>
  <div class="col-sm-3 control-icon">
    <div style="min-height:50%;vertical-align:middle">
      CHART IN HERE
    </div>
    <div height="50%" style="vertical-align:middle">
      <a href=""><img src="images/icons/play.png" ></a>
      <a href=""><img src="images/icons/recorder.png"></a>
    </div>

  </div>
</div>
