<div class="container-fluid action-area">
  <div class="row">
    <div class="col-sm-8">

      <p class="word">
        Ship /ʃɪp/ (noun)
      </p>

      <p class="word-description">
        a large boat that carries people or goods by sea
      </p>
    </div>
    <div class="col-sm-4">
      <img src="images/lessons/ship.png" style="width:80%" class="img-responsive col-xs-12">
    </div>
  </div>
  <div class="row record-lesson">
    <div class="col-sm-1 control-icon" >

        <img src="images/icons/play.png" >


        <img src="images/icons/recorder.png">


        <img src="images/icons/play.png">


    </div>
    <div class="col-sm-7" style="text-align:right">
      <div class="row">
        <img src="images/lessons/wave-source.png" class="wave" style="width:95%;">
      </div>
      <br/>
      <div class="row">
        <img src="images/lessons/wave-result.png" class="wave" style="width:95%;">
      </div>


    </div>
    <div class="col-sm-4" >
      <canvas id="doughnut" class="chart chart-doughnut" data="data"
        labels="labels"></canvas> 
    </div>
  </div>
</div>

<script type="text/javascript">
  var labels = ["Download Sales", "In-Store Sales", "Mail-Order Sales"];
  var data = [300, 500, 100];
 </script>
